

@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background: #d2e4ff;
}


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 30px auto;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

nav div {
    display: flex;
    gap: 15px;
}

.hero {
    text-align: center;
    padding: 30px;
    background: #e4f1ff;
    border-radius: 10px;
    margin: 15px 0;
    border: 1px solid #000000;
}

.hero h2 {
    margin-bottom: 10px;
}

.hero .desc {
    margin-bottom: 15px;
}

.jogar {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    background: #0051ff;
    color: white;
    text-decoration: none;
    border: none;
}

main {
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 15px;
}

aside {
    width: 30%;
    height: 525px;
    padding: 20px;
    background: #e4f1ff;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    gap: 50px;
    border: 1px solid #000000;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 70%;
}

.card {
    display: flex;
    align-items: center;
    gap: 20px;
    background: #dce2ff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.card img {
    width: 250px;
    height: auto;
    border-radius: 8px;
}

.descimg {
    flex: 1;
}

footer {
    display: flex;
    justify-content: space-between;
    background: #111;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.linkrede {
    color: white;
    text-decoration: none;
}