
@import url('https://fonts.googleapis.com/css2?family=Dokdo&display=swap');



*{
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
            color: rgb(104, 0, 202);
            text-align:center;
        }
h2 {
            color: rgb(96, 27, 160);
            text-align:center;
        }
h3 {
            color: rgb(159, 119, 197);
            text-align:center;
        }

p {
    color: #2e004d;
}