.container {
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    color: #dc143c;
}
 
h2 {
    margin: 10px 0 20px;
    color: #dc143c;
}
 
.box {
    width: 200px;
    height: 100px;
    font-weight: 900;
    padding: 10px;
    color: #fff;
}
 
.box-um {background-color: #314a59;}
.box-dois {background-color: #213c4d;}
.box-tres {background-color: #3379a5;}